body {
    background-color: #D6D4A8;
}
.navbar-default {
    background-color: #4F1413;
    border-color: #4F1413;
}
a {
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 12px;
}
h1 {
    font-family: 'Cormorant Unicase', serif;
}
h2 {
    font-family: 'Cormorant Unicase', serif;
    font-size: 70px;
}
p {
    font-family: 'Cinzel', serif;
    font-size: 18px;
}
.thumbnail {
    background-color: #D6D4A8;
    border-color: #4F1413;
    border-width: medium;
    margin-bottom: 20px;
}
footer {
    background-color: #4F1413;
    padding-top: 10px;
    margin-top: 20px;
}
/*
Red - D6022A
Brown - 4F1413
Cream/White - D6D4A8
*/